<html>
<body>
<head>
  <meta charset="UTF-8">
  <title>Index</title>
  <%- include /layouts/header.ejs %>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="/css/index.css">
  <script src="http://code.jquery.com/jquery-2.2.0.js"></script>

<script>
  $(document).ready(function() {
      TESTER = document.getElementById('tester');
      Plotly.plot( TESTER, [{
      x: [<%= x %>],
      y: [<%= y %>] }], {
      margin: { t: 0 } } );
    });
</script>

</head>

  <h1>INDEX PAGE</h1>
  <h2><a href="stockSelect">StockSelect</a> </h2>

  <% if (messages.error) { %>
   <p style="color:red"><%- messages.error %></p>
  <% } %>
  <% if (messages.success) { %>
     <p style="color:green"><%- messages.success %></p>
  <% } %>
  <div class="container-fluid">
  	<h3> Your Stocks </h3>
    <div class="row">
        <div class="col-sm-8 pd_none">
        	<form>
        		<button type="button" class="btn stock-btn"></button>
        	</form>
        </div>
        <div class="col-sm-8 pd_none">
            <form>
        		<button type="button" class="btn stock-btn"></button>
        	</form>
        </div>
        <div class="col-sm-8 pd_none">
            <form>
        		<button type="button" class="btn stock-btn"></button>
        	</form>
        </div>
        <div class="col-sm-8 pd_none">
            <form>
        		<button type="button" class="btn stock-btn"></button>
        	</form>
        </div>
        <div class="col-sm-8 pd_none">
            <form>
        		<button type="button" class="btn stock-btn"></button>
        	</form>
        </div>
    </div>
  </div>
  <div id="tester" style="max-width:600px;height:250px; margin:auto"></div>

</body>
</html>
