<html>
<body>
<head>
  <meta charset="UTF-8">
  <title>Index</title>
  <%- include /layouts/header.ejs %>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="/css/index.css">
  <script src="http://code.jquery.com/jquery-2.2.0.js"></script>

<script>
  $(document).ready(function() {
      
      var end = <%- JSON.stringify(objArray.length) %>

      console.log( <%- objLength %> )

      var length1 = <%- objLength %>
      var i = 0

      console.log('length1' +length1)
      var counter = 0

      while ( i < length1){
      var trace1 = {
	type: "scatter",
	mode: "lines",
	name: 'high',
	x: <%- JSON.stringify(objArray[counter].myDates) %>,
	y: <%- JSON.stringify(objArray[counter].myHighs) %>,
	line: {color: '#17BECF'}
      }
      var trace2 = {
        type: "scatter",
        mode: "lines",
        name: 'low',
        x: <%- JSON.stringify(objArray[counter].myDates) %>,
        y: <%- JSON.stringify(objArray[counter].myLows) %>,
        line: {color: '#7F7F7F'}
      }
      var allData = [trace1, trace2];
      var layout = {
	title: <%- JSON.stringify(objArray[<%- counter %>].mySym) %>,
      }
      Plotly.newPlot('myDiv' + counter, allData, layout)


      counter++
      i++
      console.log(counter)

      }


	


    });







</script>

</head>
<<<<<<< HEAD

  <h1>INDEX PAGE</h1>
  <h2><a href="stockSelect">StockSelect</a> </h2>

  <% if (messages.error) { %>
   <p style="color:red"><%- messages.error %></p>
  <% } %>
  <% if (messages.success) { %>
     <p style="color:green"><%- messages.success %></p>
  <% } %>
  <div
  <div class="container-fluid">
=======
  <div class="header">
    <h1>INDEX PAGE</h1>
    <% if (messages.error) { %>
     <p style="color:red;margin-top: 15px;"><%- messages.error %></p>
    <% } %>
    <% if (messages.success) { %>
       <p style="color:green;margin-top: 15px;"><%- messages.success %></p>
    <% } %>
  </div>
  <div class="container">
>>>>>>> 8953e11e32d1c88f436d76777cd7185e27c82ffb
  	<h3> Your Stocks </h3>
    <div class="row">
        <div class="buttonContainer">
        		<button type="button" class="btnStock"></button>
            <button type="button" class="btnStock"></button>
            <button type="button" class="btnStock"></button>
            <button type="button" class="btnStock"></button>
        </div>
    </div>
<<<<<<< HEAD
  <div id="myDiv0" style="max-width:600px;height:250px; margin:auto"></div><br>
  <div id="myDiv1" style="max-width:600px;height:250px; margin:auto"></div><br>
  <div id="myDiv2" style="max-width:600px;height:250px; margin:auto"></div><br>
  <div id="myDiv3" style="max-width:600px;height:250px; margin:auto"></div><br>

=======

    <div id="tester"></div>
  </div>
>>>>>>> 8953e11e32d1c88f436d76777cd7185e27c82ffb
</body>
</html>
