<html>
<body>
<head>
  <meta charset="UTF-8">
  <title>Index</title>
  <%- include ./layouts/header.ejs %>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="/css/index.css">
  <script src="http://code.jquery.com/jquery-2.2.0.js"></script>

<script>
  $(document).ready(function() {

    var logo = <%- JSON.stringify(url[0]) %>;
      
      var infoJS = <%- JSON.stringify(objArray) %>
      console.log(infoJS[0].myDates+ ' test1')
      for (var j = 0; j < <%- objLength %>; j++){
	console.log(infoJS[j].myHighs + 'index number: ' + j)
      }
    
      console.log(<%- JSON.stringify(objArray[0]) %>)
      TESTER = document.getElementById('tester');
      

      for (var i = 0; i < <%- objLength %>; i++){

      var trace1 = {
        type: "scatter",
        mode: "lines",
        name: 'high',
        x: infoJS[i].myDates,
        y: infoJS[i].myHighs,
        line: {color: '#17BECF'},
      }

      var trace2 = {
        type: "scatter",
        mode: "lines",
        name: 'low',
        x: infoJS[i].myDates,
        y: infoJS[i].myLows,
        line: {color: '#7F7F7F'}
      }

      var allData = [trace1, trace2];
      var layout = {
        title: infoJS[i].mySym
      }

      Plotly.newPlot('myDiv' + i, allData, layout)

      }
  
  })
      
      

</script>

</head>

  <div class="header">
    <% if (messages.error) { %>
     <p style="color:red;margin-top: 15px;"><%- messages.error %></p>
    <% } %>
    <% if (messages.success) { %>
       <p style="color:green;margin-top: 15px;"><%- messages.success %></p>
    <% } %>
  </div>
  <div class="container">
    <h3> Your Stocks </h3>
    <div class="row">
        <div class="buttonContainer">
            <button type="button" class="btnStock"></button>
            <button type="button" class="btnStock"></button>
            <button type="button" class="btnStock"></button>
            <button type="button" class="btnStock"></button>
        </div>



          <div id="myDiv0" style="max-width:750px;height:400px; margin:auto"></div><br>
          <div id="myDiv1" style="max-width:750px;height:400px; margin:auto"></div><br>
          <div id="myDiv2" style="max-width:750px;height:400px; margin:auto"></div><br>
          <div id="myDiv3" style="max-width:750px;height:400px; margin:auto"></div><br>
          <div id="myDiv4" style="max-width:750px;height:400px; margin:auto"></div><br>
          <div id="myDiv5" style="max-width:750px;height:400px; margin:auto"></div><br>

    </div>
  </div>


</body>
</html>
