<html>
<body>
<head>
  <meta charset="UTF-8">
  <title>Index</title>
  <%- include ./layouts/header.ejs %>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="/css/index.css">
  <script src="http://code.jquery.com/jquery-2.2.0.js"></script>

<script>
  $(document).ready(function() {

    var MAX_LENGTH = 10;

    var logo = <%- JSON.stringify(url) %>;

    var i;
    var str_logo = "#image";
    for(i = 0; i < logo.length; i++){

      $(str_logo + i).css({'background-image' : 'url(' + logo[i] + ')', 'background-repeat' : 'no-repeat', 'background-position' : 'center', 'background-size' : 'contain'});
  
    }
      
    var infoJS = <%- JSON.stringify(objArray) %>
    console.log(infoJS[0].myDates+ ' test1')
    for (var j = 0; j < <%- objLength %>; j++){
      console.log(infoJS[j].myHighs + 'index number: ' + j)
    }
  
    console.log(<%- JSON.stringify(objArray[0]) %>)
    TESTER = document.getElementById('tester');
    

    for (var i = 0; i < <%- objLength %>; i++){

      var trace1 = {
        type: "scatter",
        mode: "lines",
        name: 'high',
        x: infoJS[i].myDates,
        y: infoJS[i].myHighs,
        line: {color: '#17BECF'},
      }

      var trace2 = {
        type: "scatter",
        mode: "lines",
        name: 'low',
        x: infoJS[i].myDates,
        y: infoJS[i].myLows,
        line: {color: '#7F7F7F'}
      }

      var allData = [trace1, trace2];
      var layout = {
        title: infoJS[i].mySym
      }

      Plotly.newPlot('myDiv' + i, allData, layout)

    }

    for(var j = <%- objLength %>; j < MAX_LENGTH; j++) {
      $("#myDiv" + j).addClass('hide');
    }

  
  })
      
      

</script>

</head>

  <div class="header">
    <% if (messages.error) { %>
     <p style="color:red;margin-top: 15px;"><%- messages.error %></p>
    <% } %>
    <% if (messages.success) { %>
       <p style="color:green;margin-top: 15px;"><%- messages.success %></p>
    <% } %>
  </div>
  <div class="container">
    <h3> Your Stocks </h3>
    <div class="row">
        <div class="buttonContainer">
            <button type="button" class="btnStock" id="image0"></button>
            <button type="button" class="btnStock" id="image1"></button>
            <button type="button" class="btnStock" id="image2"></button>
            <button type="button" class="btnStock" id="image3"></button>
            <button type="button" class="btnStock" id="image4"></button>
            <button type="button" class="btnStock" id="image5"></button>
            <button type="button" class="btnStock" id="image6"></button>
            <button type="button" class="btnStock" id="image7"></button>
            <button type="button" class="btnStock" id="image8"></button>
            <button type="button" class="btnStock" id="image9"></button>
        </div>
      </div>
      <div class="row">
          <div id="myDiv0" style="max-width:750px;height:400px; margin:auto"></div><br>
      </div>
      <div class="row">
          <div id="myDiv1" style="max-width:750px;height:400px; margin:auto"></div><br>
      </div>
      <div class="row">
          <div id="myDiv2" style="max-width:750px;height:400px; margin:auto"></div><br>
      </div>
      <div class="row">
          <div id="myDiv3" style="max-width:750px;height:400px; margin:auto"></div><br>
      </div>
      <div class="row">
          <div id="myDiv4" style="max-width:750px;height:400px; margin:auto"></div><br>
      </div>
      <div class="row">
          <div id="myDiv5" style="max-width:750px;height:400px; margin:auto"></div><br>
      </div>
      <div class="row">
          <div id="myDiv6" style="max-width:750px;height:400px; margin:auto"></div><br>
      </div>
      <div class="row">
          <div id="myDiv7" style="max-width:750px;height:400px; margin:auto"></div><br>
      </div>
      <div class="row">
          <div id="myDiv8" style="max-width:750px;height:400px; margin:auto"></div><br>
      </div>
      <div class="row">
          <div id="myDiv9" style="max-width:750px;height:400px; margin:auto"></div><br>
      </div>

    
  </div>


</body>
</html>
