<html>
<body>
<head>
  <meta charset="UTF-8">
  <title>Index</title>
  <%- include /layouts/header.ejs %>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="/css/index.css">
  <script src="http://code.jquery.com/jquery-2.2.0.js"></script>

<script>
  $(document).ready(function() {
      TESTER = document.getElementById('tester');
      Plotly.plot( TESTER, [{
      x: [<%= x %>],
      y: [<%= y %>] }], {
      margin: { t: 0 } } );
    });
</script>

</head>
  <div class="header">
    <h1>INDEX PAGE</h1>
    <% if (messages.error) { %>
     <p style="color:red;margin-top: 15px;"><%- messages.error %></p>
    <% } %>
    <% if (messages.success) { %>
       <p style="color:green;margin-top: 15px;"><%- messages.success %></p>
    <% } %>
  </div>
  <div class="container">
  	<h3> Your Stocks </h3>
    <div class="row">
        <div class="buttonContainer">
        		<button type="button" class="btnStock"></button>
            <button type="button" class="btnStock"></button>
            <button type="button" class="btnStock"></button>
            <button type="button" class="btnStock"></button>
        </div>
    </div>

    <div id="tester"></div>
  </div>
</body>
</html>
