<html>
<body>
<head>
  <meta charset="UTF-8">
  <title>Index</title>
  <%- include ./layouts/header.ejs %>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <link rel="stylesheet" href="/css/index.css">
  <script src="http://code.jquery.com/jquery-2.2.0.js"></script>

<script>
  $(document).ready(function() {

    var logo = <%- JSON.stringify(url) %>;
    
    var i;
    var str_logo = "#image";
    for(i = 0; i < logo.length; i++){

      $(str_logo + i).css({'background-image' : 'url(' + logo[i] + ')', 'background-repeat' : 'no-repeat', 'background-position' : 'center'});
    }
    
    

      TESTER = document.getElementById('tester');
      
      var trace1 = {
        type: "scatter",
        mode: "lines",
        name: 'high',
        x: <%- JSON.stringify(objArray[0].myDates) %>,
        y: <%- JSON.stringify(objArray[0].myHighs) %>,
        line: {color: '#17BECF'},
      }

      var trace2 = {
        type: "scatter",
        mode: "lines",
        name: 'low',
        x: <%- JSON.stringify(objArray[0].myDates) %>,
        y: <%- JSON.stringify(objArray[0].myLows) %>,
        line: {color: '#7F7F7F'}
      }

      var allData = [trace1, trace2];
      var layout = {
        title: <%- JSON.stringify(objArray[0].mySym) %>,
      }

      Plotly.newPlot('myDiv', allData, layout)


      Plotly.plot( TESTER, [{
      x: <%- JSON.stringify(objArray[0].myDates) %>,
      y: <%- JSON.stringify(objArray[0].myHighs) %> }], {
      margin: { t: 0 } } );
      });

      
      

</script>

</head>

  <div class="header">
    <% if (messages.error) { %>
     <p style="color:red;margin-top: 15px;"><%- messages.error %></p>
    <% } %>
    <% if (messages.success) { %>
       <p style="color:green;margin-top: 15px;"><%- messages.success %></p>
    <% } %>
  </div>
  <div class="container">
    <h3> Your Stocks </h3>
   
       
          <div class="row">
            <div class="col-sm-2 pd_none">
              <button type="button" class="btnStock" id="image0"></button>
            </div>
            <div class="col-sm-2 pd_none">
              <button type="button" class="btnStock" id="image1"></button>
            </div>
            <div class="col-sm-2 pd_none">
              <button type="button" class="btnStock" id="image2"></button>
            </div>
            <div class="col-sm-2 pd_none">
              <button type="button" class="btnStock" id="image3"></button>
            </div>
         </div>
      

          <div id="tester" style="max-width:600px;height:250px; margin:auto"></div>

          <div id="myDiv" style="max-width:600px;height:250px; margin:auto"></div>
  
  </div>


</body>
</html>
